# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Local commands
.terminal_commands*

# Platform/ build
.pio/
.cmake/
.ccls-cache/
*.elf
*.bin
*.hex

# Python
venv/
.venv/
env/
.env
__pycache__/
*.py[cod]

#Dados grandes / Temporários
analysis/data/raw/*
!analysis/data/raw/README.md

analysis/data/processed/*
!analysis/data/processed/README.mod

*.log
log_*.txt

# Editor
.DS_Store
*.swp
*.swo
.vscode/
.idea/
*.kate-swp
